[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/bundle/cscope"]
	path = vim/bundle/cscope
	url = https://github.com/brookhong/cscope.vim
[submodule "vim/bundle/vim-projectroot"]
	path = vim/bundle/vim-projectroot
	url = git://github.com/dbakker/vim-projectroot.git
[submodule "vim/bundle/vim-plugin-minibufexpl"]
	path = vim/bundle/vim-plugin-minibufexpl
	url = git://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/ZoomWin"]
	path = vim/bundle/ZoomWin
	url = git://github.com/shantanugoel/ZoomWin.git
[submodule "vim/bundle/indentLine"]
	path = vim/bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/bundle/vis"]
	path = vim/bundle/vis
	url = https://github.com/vim-scripts/vis.git
[submodule "vim/bundle/visincr"]
	path = vim/bundle/visincr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "vim/bundle/AsyncCommand"]
	path = vim/bundle/AsyncCommand
	url = https://github.com/pydave/AsyncCommand.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/vim-gtfo"]
	path = vim/bundle/vim-gtfo
	url = https://github.com/justinmk/vim-gtfo.git
