[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/YankRing"]
	path = vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
[submodule "vim/bundle/rainbow_parentheses"]
	path = vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/OmniCppComplete"]
	path = vim/bundle/OmniCppComplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "vim/bundle/bufkill"]
	path = vim/bundle/bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/cscope"]
	path = vim/bundle/cscope
	url = https://github.com/brookhong/cscope.vim
[submodule "vim/bundle/vim-projectroot"]
	path = vim/bundle/vim-projectroot
	url = git://github.com/dbakker/vim-projectroot.git
[submodule "vim/bundle/vim-plugin-minibufexpl"]
	path = vim/bundle/vim-plugin-minibufexpl
	url = git://github.com/techlivezheng/vim-plugin-minibufexpl.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = git://github.com/tomtom/tcomment_vim.git
